.MainBox {
    background: #F9F9F9;
    box-shadow: 0px 3px 8px -1px rgba(50, 50, 71, 0.05), 0px 0px 1px rgba(12, 26, 75, 0.24);
    border-radius: 8px;
    margin-bottom: 20px;
}

.ResponseNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    background: #FFFFFF;
    opacity: 0.7;
    box-shadow: 0px 3px 8px -1px rgba(50, 50, 71, 0.05), 0px 0px 1px rgba(12, 26, 75, 0.24);
    border-radius: 8px;
}
.ResponseDes {
    padding: 10px 16px;
    text-align: right;
}
.BtnResponse{
    text-align: left;
    margin:16px;
    padding-bottom: 16px;
}
.GrinBtn {
    border: 1px solid #E4E9EC;
    border-radius: 6px;
    padding: 8px 16px;
    color: #66CB9F;
    background-color: transparent;
    font-family: Yekan;
    margin-left: 10px;
}
.GrinBtn svg {
    color: #66CB9F;
    padding-left: 3px;
}
.FrownBtn {
    border: 1px solid #E4E9EC;
    border-radius: 6px;
    padding: 8px 16px;
    color: #F16063;
    background-color: transparent;
    font-family: Yekan;
}
.FrownBtn svg {
    color: #F16063;
    padding-left: 3px;
}
