.NavBar {
    background-color: white;
    padding: 0 59px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 68px;
}
.NavBar h1 {
    font-size: 24px;
}
.NavInfo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.UserInfo {
    display: flex;
    align-items: center;
}
.UserPic {
    font-size: 40px;
}
.UserInfo svg {
    color: #9CAEBB;
}
.UserInfo span {
    padding: 0 12px;
}
.AddQuestion {
    background: #27AE60;
    border-radius: 6px;
    color: white;
    padding: 8px 21px;
    box-shadow: none;
    border: 0;
    font-family: Yekan;
    height: 36px;
    display: flex;
    align-items: center;
    margin-left: 40px;
}
.AddQuestion svg {
    padding-left: 10px;
}

@media screen and (max-width: 650px) {
    .NavInfo {
        display:block;
        padding-top: 10px;
        text-align: center;
    }
    .NavBar {
        padding: 10px 20px;
    }
    .UserInfo{
        padding-top:10px;
    }
    .NavBar h1 {
        font-size: 18px;
    }
    .AddQuestion {
        margin-left: 0;
    }
}