.Respondent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
}
.Respondent svg{
    font-size: 30px;
    margin-left: 12px;
}
.Respondent img{
    border-radius: 10px;
    width: 26px;
    margin-left: 10px;
}